@model fuskill.Services.DTOs.ProjectDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details Project</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Skills)
            {
                <a asp-action="Details" asp-controller="Skills" asp-route-Id="@item.Id" class="nav-link">@item.Name</a>
            }
        </dd>
    </dl>
</div>
<div>
    

    <a asp-action="Index" class="btn btn-primary">Back to List</a>

    <style>
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            border-radius: 17px;
            top: 30px;
        }
    </style>
</div>
